<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All type of pics samples</h1>

 <a href="/share"><h2>share your photo</h2></a> 

<% pics.each do |pic| %>

  
        <a href="/pics/<%= pic['id']%>?id=<%= pic['id'] %>">
            <p>
            <%= pic['title'] %>
            </p>

            <img src="<%= pic['image_url'] %>" alt="">
            
        </a>
       
 

<% end %>

  
</body>
</html>