<h1>Please log in</h1>

<form action="/sessions" method="post"> <!--Create new session when the user log in -->
  <label for="">email</label>
  <input type="text" name="email">
  
  <label for="">password</label>
  <input type="password`" name="password">

  <button>Login</button>
</form>

<!-- Questions -->

<!-- I can't see the form ( for email and password in the login page ) i think it's because the layout page -->