body {
    /* background-color: #7581b2; */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqw8YOBN2bEAhlTt0t7BZsG4OhYgan28-FZA&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


img {
    width: 1080px;
    height: 600px;
    display: inline-block;
    padding-left: 120px ;

}

p {
    padding-left: 590px ;
    font-size: 2.5em;
    font-family: 'Apple Chancery', Courier, sans-serif;
    color: azure;
    text-shadow: blue;
}

h1 {
    color: aqua;
    font-family: 'Apple Chancery', Courier, sans-serif;
    padding-left: 550px;
    /* background-color: #64b5db; */
    text-shadow: cornflowerblue;

}

a {
    color: blanchedalmond;
    display: inline;
    text-decoration: none;
}

h3 {
    color: darkgrey;
}

label {
    color: darkseagreen;
}


